.track-list-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  position: absolute;
}

.track-list-container .card-container {
  width: 80%;
  min-width: 480px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.track-list-container .card-container-item {
  width: 200px;
  height: 285px;
  border: 1px solid #000;
  flex-basis: auto;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #292929;
}

.track-list-container .card-container-title{
  padding-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.card-container-controls{

}
