.player {
  position: fixed;
  bottom: 0;
  height: 50px;
  background: #ccc;
  width: 100%;
}

.player-controls {
  display: flex;
  align-items: center;
  margin: 0 auto;
  box-align: center;
  max-width: 900px;
  height: 100%;
}

.player-track-controls {
}

.player-track-time {

}

.player-track-title {
  flex: 1;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.player-track-volume {

}
