.player {
  position: fixed;
  display: flex;
  bottom: 0;
  height: 50px;
  background: #eaeaea;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.player-controls {
  height: 58px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.player-track-controls {
}

.player-track-time {

}

.player-track-title {
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.player-track-volume {

}
