.player {
  position: fixed;
  display: flex;
  bottom: 0;
  height: 50px;
  background: #292929;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.player-controls {
  height: 58px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.player-track-controls {
}

.player-track-time {
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.player-track-title {
  max-width: 400px;
  line-height: 40px;
  text-overflow: ellipsis;
  height: 40px;
  min-width: 400px;
}

.player-track-volume {
  margin-left: 30px;
}

.player-monitor {
  margin-left: 30px;
}
