.btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 0;
  padding: 0;
  overflow: hidden;
  transform: translate(0, 0);
  cursor: pointer;
}

.btn-icon {
  padding: 3px;
  width: 30px;
  height: 30px;
}
