.time-line-container {
  height: 8px;
  width: 100%;
  position: relative;
  background: #292929;
  cursor: pointer;
}

.time-line {
  height: 100%;
}

.time-line-buffered {
  position: absolute;
  background: #505050;
}

.time-line-elapse {
  position: absolute;
  background: orangered;
}
