<div class="time-line-container" (click)="onClick($event)">
  <div
    class="time-line time-line-buffered"
    [ngStyle]="{'width': times?.percentBuffered}"></div>
  <div
    class="time-line time-line-elapse"
    [ngStyle]="{'width': times?.percentCompleted}"></div>
</div>

<!--<div class="bar bar&#45;&#45;buffered"-->
     <!--[ngClass]="{'bar&#45;&#45;animated': times?.bufferedTime !== 0}"-->
     <!--[ngStyle]="{'width': times?.percentBuffered}"></div>-->

<!--<div class="bar bar&#45;&#45;elapsed"-->
     <!--[ngStyle]="{'width': times?.percentCompleted}"></div>-->
