.visualization-container {
  width: 400px;
  height: 400px;
  bottom: 65px;
  right: 25px;
  overflow: hidden;
  margin: 0;
  background: #ddd;
  position: fixed;
  z-index: 100;
  border: 1px solid orangered;
}
