/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

div{
  color: #bbbbbb;
  font: 13px Arial;
}

.btn-search {
  background: url('app/shared/images/buttons/search.svg') no-repeat 55% center;
  background-size: 24px;
}

.btn-play {
  background: url('app/shared/images/buttons/play.svg') no-repeat 55% center;
}

.btn-pause {
  background: url('app/shared/images/buttons/pause.svg') no-repeat 55% center;
}
