/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background: #333333;
}

div {
  color: #bbbbbb;
  font: 13px Arial;
}

.btn-icon {
  background-size: 32px;
}

.btn-search {
  background: url('app/shared/images/buttons/search.svg') no-repeat 55% center;
  background-size: 24px;
}

.btn-play {
  background: url('app/shared/images/buttons/play.svg') no-repeat center;
}

.btn-pause {
  background: url('app/shared/images/buttons/pause.svg') no-repeat center;
}

.btn-preview-track {
  margin-right: 3px;
  background: url('app/shared/images/buttons/left-arrow.svg') no-repeat 55% center;
}

.btn-next-track {
  background: url('app/shared/images/buttons/right-arrow.svg') no-repeat 55% center;
}

.btn-monitor {
  background: url('app/shared/images/buttons/stats.svg') no-repeat 55% center;
  background-size: 28px;
}

.btn-monitor-active {
  background: url('app/shared/images/buttons/stats_active.svg') no-repeat 55% center;
  background-size: 28px;
}
