<div class="search-bar">
  <form [formGroup]="searchForm">
    <input formControlName="search" placeholder="Search Tracks" (keyup.esc)="onEsc()" (keyup.enter)="onEnter()"/>
  </form>
  <div *ngIf="isSearchCollectionNotEmpty()" class="search-result">
    <ul>
      <li *ngFor="let item of searchHelper.collection; let i = index" (click)="setValue(item)"
          [class.active]="i === selectedLiValue">
        {{item.output}} - {{i}}
      </li>
    </ul>
  </div>
  <app-icon-button [className]="'search'" (click)="onEnter()"></app-icon-button>
</div>
